{% extends 'accounts/mypage_nav.html' %}

{% block header2 %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.js"></script>
<script type="text/javascript" src="/static/js/lang/summernote-ko-KR.js"></script>
{% endblock %}

{% block contents %}
<form method="POST" action="" enctype="multipart/form-data" >
    {% csrf_token %}
    <p><strong>이름: </strong>{{ form.name }}</p>
    <p><strong>사진: </strong>{{ form.image }}</p>
    <input type="checkbox" id="imageChangeCheck" name="imageChange" style="display: none;">
    <p><strong>분야: </strong>{{ form.genretext }}</p>
    <p><strong>지역: </strong>{{ form.address }}</p>
    <p><strong>장소: </strong>{{ form.place }}</p>
    <p><strong>Hashtag: </strong>{{ form.tagtext }}</p>
<!--    <p><strong>사진: </strong>{{ form.upload_files }}</p>-->
    <input type="checkbox" id="fileChangeCheck" name="fileChange" style="display: none;">
    <p><strong>summary:</strong></p>
    <textarea id="summernote" name="summary">{% if update %}{{ form.summary.value | safe }}{% endif %}</textarea>
    {% if update %}
    <button id="write" type="submit" class="btn btn-primary">수정</button>
    {% else %}
    <button id="write" class="btn btn-primary" type="submit">등록</button>
    {% endif %}
</form>
<script>
$(document).ready(function() {
    $('#summernote').summernote({
        height: 500,
        minHeight: 500,
        maxHeight: 500,
        lang: 'ko-KR',

        toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'clear']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['table', ['table']],
        ['insert', ['link', 'picture', 'video']],
        ['view', ['fullscreen', 'help']]
        ]
    });
<!--    $('p').css('margin-bottom','0')-->
    $('.note-resizebar').css('display','none');
});
</script>
<script type="text/javascript">
    var checkUnload = true;
    $(window).on('beforeunload', function () {
        if (checkUnload) return "이 페이지를 벗어나면 작성된 내용은 저장되지 않습니다.";
    });
    $("#write").on("click", function () {
        checkUnload = false;
        $("submit").submit();
    });
</script>
{% if imagename %}
<script type = "text/javascript">
    $('[href="{{ image_url }}"]').html("{{ imagename }}");
    $('#image-clear_id').css({opacity:'100', position:'relative', 'pointer-events':'auto'})

    $("#id_image").change(function() {
        if ($('#id_image').get(0).files.length == 1) {
            $(".col-sm-12").contents().get(0).nodeValue = '[첨부파일 변경 시 기존 파일은 삭제됩니다.]'
            $('#image-clear_id').attr("checked", false)
            $('#image-clear_id').prev().hide()
            $('#image-clear_id').next().hide()
            $('#image-clear_id').hide()
        }
    });

    $('#image-clear_id').on('click', function(){
        if($(this).prop('checked')){
            $('#id_image').hide()
            document.getElementById('id_image').previousSibling.nodeValue = '[업로드 된 첨부파일을 삭제합니다.]'
        } else{
            $('#id_image').show()
            document.getElementById('id_image').previousSibling.nodeValue = '변경: '
        }
    });

    $('#write').click( function() {
        if($('#id_image').get(0).files.length == 1){
            $('#imageChangeCheck').attr("checked",true)
        }
    });
</script>
{% endif %}
{% endblock %}