{% extends 'accounts/mypage_nav.html' %}

{% block header %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.js"></script>
<script type="text/javascript" src="/static/js/lang/summernote-ko-KR.js"></script>
{% endblock %}

{% block contents %}
<form method="POST" action="">
    {% csrf_token %}
    <p><strong>이름: </strong>{{ form.name }}</p>
    <p><strong>분야: </strong>{{ form.genretext }}</p>
    <p><strong>지역: </strong>{{ form.address }}</p>
    <p><strong>장소: </strong>{{ form.place }}</p>
    <p><strong>Hashtag: </strong>{{ form.tagtext }}</p>
    <p><strong>summary:</strong></p>
    <div id="summernote"></div>
    <textarea class="textarea_field" name="summary"></textarea>
    <button id="write" class="btn btn-primary" type="submit">등록</button>
</form>

<script>
    $(document).ready(function () {
        $('#id_content').summernote({
            placeholder: '내용을 입력해주세요.',
            height: 500,
            minHeight: 500,
            maxHeight: 500,
            lang: 'ko-KR',

            toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'help']]
            ]
        });
        $('p').css('margin-bottom','0')
        $('.note-resizebar').css('display','none');
    });
</script>
{% endblock %}