{% extends 'base.html' %}

{% block contents %}
<center>
    {% if b %}
    <h1>검색 결과</h1>
    {% else %}
    <h1>트레이너 찾기</h1>
    {% endif %}
</center>

<div class="row justify-content-center">
    {% if trainer_list %}
    <div class="col-11">
        <div class="row">
            {% for trainer in trainer_list %}
                <div class="col-6 col-md-4">
                    <div class="card">
                        <a href="{{ trainer.get_absolute_url }}">
                            <div class="row my-3 justify-content-center" style="text-align: center">
                                {% if trainer.image %}
                                <img style="width: 70%; margin-bottom: 15px; border-radius: 20px; padding: 0px" src="{{ trainer.image.url }}">
                                {% endif %}
                                <p style="font-size: 20px">{{ trainer.name }}<small>({% for genre in trainer.genre.all %}{{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %})</small></p>
                                <p style="font-size: 15px; margin-bottom: 1">{{ trainer.place }}</p>
                                <p style="font-size: 10px">( {{ trainer.address }} )</p>
                                <p style="font-size: 8px">{% for hashtag in trainer.hashtag.all %}#{{ hashtag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% else %}
        {% if b %}
        <p>검색 결과가 없습니다.</p>
        {% else %}
        <p>현재 등록된 트레이너가 없습니다.</p>
        {% endif %}
    {% endif %}
</div>


{% if is_paginated %}
<ul class="pagination justify-content-center" style="margin-top: 7px">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
            tabindex="-1">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">이전</a>
    </li>
    {% endif %}

    {% for page in page_range %}
    <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link"
            href="?page={{ page_obj.next_page_number }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">다음</a>
    </li>
    {% endif %}
</ul>
{% endif %}



<br><br><br>
{% endblock %}