{% extends 'base.html' %}

{% block contents %}
<h1>{{ trainer.name }}</h1>
<img src="{{ trainer.image.url }}">
<p><strong>작성:</strong>{{ trainer.writer }}</p>
<p><strong>분야: </strong>{% for genre in trainer.genre.all %}{{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p><strong>지역:</strong>{{ trainer.address }}</p>
<p><strong>장소:</strong>{{ trainer.place }}</p>
<p><strong>특징:</strong>{% for tag in trainer.hashtag.all %}#{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p><strong>소개: </strong></p>
<p>{{ trainer.summary | safe}}</p>

<p><a href="{% url 'trainer-update' trainer.id %}">modify</a></p>
<p><a href="{% url 'trainer-delete' trainer.id %}">delete</a></p>
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제</button>-->

<!--<div id="deleteModal" class="modal fade" tabindex="-1" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title">삭제경고</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <p>게시글을 삭제하시겠습니까?</p>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button onclick="delete_modal()" type="button" class="btn btn-dark">삭제하기</button>-->
<!--                <button type="button" class="btn btn-light" data-bs-dismiss="modal">취소하기</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<script type="text/javascript">-->
<!--    function delete_modal() {-->
<!--        location.replace('/trainer/{{ trainer.id }}/delete/');-->
<!--    }-->
<!--</script>-->

{% if notice_auth or request.user.level == '0' %}
<p><a href="">new class</a></p>
{% endif %}

<p><a href="{% url 'review:review-new' %}">리뷰쓰기</a></p>

{% if page_obj %}
{% for review in page_obj %}
<a href="{{ review.get_absolute_url }}">
    <div class="row">
        <div class="col-6">{{ review.title }}</div>
        <div class="col-3">{{ review.writer }}</div>
        <div class="col-3">{{ review.date }}</div>
    </div>
</a>
{% endfor %}
{% endif %}

{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
            tabindex="-1">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">이전</a>
    </li>
    {% endif %}

    {% for page in page_range %}
    <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link"
            href="?page={{ page_obj.next_page_number }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">다음</a>
    </li>
    {% endif %}
</ul>
{% endif %}

<!--<div style="margin-left:20px;margin-top:20px">-->
<!--    <h4>강의</h4>-->

<!--    {% for lecture in trainer.lecture_set.all %}-->
<!--    <hr>-->
<!--    <p><strong>Name: </strong><a href="{{ lecture.get_absolute_url }}">{{ lecture.name }}</a></p>-->
<!--    <p><strong>Place: </strong>{{ lecture.gym }}</p>-->
<!--    <p><strong>Genre: </strong>{{ lecture.display_genre }}</p>-->
<!--    {% endfor %}-->
<!--</div>-->
{% endblock %}