{% extends "accounts/register_template.html" %}

{% block contents2 %}
<form method="post" action="" novalidate>
    {% csrf_token %}
    <div style="margin-bottom: 10px">
        <label style="margin-bottom: 10px" name="label_user_id" for="{{ form.user_id.id_for_label }}">
            {{ form.user_id.label }}
        </label>
        {{ form.user_id }}
        <script type="text/javascript">
            if (document.getElementsByName('user_id')[0].value != '') {
                document.getElementsByName('label_user_id')[0].setAttribute('class', 'active');
            }
        </script>
        {% if form.user_id.errors %}
        <script type="text/javascript">
            document.getElementsByName('user_id')[0].setAttribute('class', 'form-control is-invalid')
        </script>
        {% for error in form.user_id.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div style="margin-bottom: 10px">
        <label style="margin-bottom: 10px" name="label_password" for="{{ form.password.id_for_label }}">
            {{ form.password.label }}
        </label>
        {{ form.password }}
        {% if form.password.errors %}
        <script type="text/javascript">
            document.getElementsByName('password')[0].setAttribute('class', 'form-control is-invalid')
        </script>
        {% for error in form.password.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-8">
            <label>
                <input type="checkbox" name="remember_session"/>
                <span>로그인 상태 유지</span>
            </label>
        </div>
        <div class="col-4" align="right">
            <input type="submit" class="btn btn-outline-secondary" value="로그인">
        </div>
    </div>
</form>
<div align="center">
<a href="{% url 'accounts:recovery_id' %}"><button class="btn btn-outline-secondary">아이디찾기</button></a>
<a href="{% url 'accounts:recovery_pw' %}"><button class="btn btn-outline-secondary">비밀번호찾기</button></a>
</div>
{% endblock %}
