{% extends "base.html" %}

{% block header %}
{% block header2 %}
{% endblock %}
{% endblock %}

{% block contents %}
<div class="row">
    <div class="col-4 col-md-3" style="padding-left: 20px">
        <p>&nbsp;</p>
        <p><a href="{% url 'accounts:profile' %}">회원정보</a></p>
        <p><a href="{% url 'accounts:password_change' %}">비밀번호 변경</a></p>
        {% if request.user.level == '0' or request.user.level == '1' or request.user.level == '2' %}
        <p><a href="{% url 'trainer-new' %}">트레이너 정보 등록</a></p>
        <p><a href="{% url 'trainer-mylist' %}">트레이너 정보 수정</a></p>
        {% endif %}
        <p><a href="{% url 'accounts:profile_delete' %}">회원 탈퇴</a></p>
    </div>
    <div class="col-8 col-md-9" style="padding: 40 60 0 10">
        <div class="row">
            <div class="register_template col-12 col-md-11" style="padding: 40; border-radius: 5px; background-color: #F8F8F8;">
                {% block contents2 %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}