{% extends 'accounts/mypage_nav.html' %}

{% block contents2 %}

<table>
    <tr>
        <td>아이디</td>
        {% if user.level == '0' %}
        <td>{{ user.user_id }}(개발자)</td>
        {% elif user.level == '1' %}
        <td>{{ user.user_id }}(관리자)</td>
        {% else %}
        <td>{{ user.user_id }}</td>
        {% endif %}
    </tr>
    <tr>
        <td style="width: 130">이메일</td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td>이름</td>
        <td>{{ user.name }}</td>
    </tr>
    <tr>
        <td>hp</td>
        <td>0{{ user.hp }}</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td></td>
        <td><a href="{% url 'accounts:profile_update' %}"><button class="btn btn-outline-secondary">회원정보 수정</button></a></td>
    </tr>
</table>
{% endblock %}