@font-face {
    font-family: 'NotoSansKR';
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
 font-family: 'NanumSquareR';
 font-weight: 400;
 src: url(./static/font/NanumSquareR.eot);
 src: url(./static/font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(./static/font/NanumSquareR.woff) format('woff'),
      url(./static/font/NanumSquareR.ttf) format('truetype');
}

@font-face {
 font-family: 'NanumSquareB';
 font-weight: 700;
 src: url(./static/font/NanumSquareB.eot);
 src: url(./static/font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(./static/font/NanumSquareB.woff) format('woff'),
      url(./static/font/NanumSquareB.ttf) format('truetype');
}

body {
    font-family: NotoSansKR;
    background-color: #BDBDBD;
}

#top-menu-bg {
    background-color: #819FF7;
}

.top-menu-btn {
    background-color: #CED8F6;
     border-radius: 14px;
      border:5px solid #819FF7;
}

a:link {text-decoration: none; color: #151515;}
a:visited {text-decoration: none; color: #6E6E6E;}
a:active {text-decoration: none; color: #151515;}
a:hover {text-decoration: none; color: #6E6E6E;}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button {
    vertical-align: middle;
}

input {
    vertical-align: middle;
}

.board-top {
    text-align: center;
    border-top: 1px solid #A4A4A4;
    border-bottom: 1px solid #A4A4A4;
    background-color: #CEE3F6;
}

.board-content {
    border-bottom: 1px solid #E6E6E6;
    background-color: white;
}

.target {
    padding: 60 20 0 20;
}