{% extends 'base.html' %}

{% block header %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.js"></script>
<script type="text/javascript" src="/static/js/lang/summernote-ko-KR.js"></script>
{% endblock %}

{% block contents %}
<form method="POST" action="" enctype="multipart/form-data" >
    {% csrf_token %}
    <p><strong>제목: </strong>{{ form.title }}</p>
    <p><strong>분야: </strong>{{ form.genretext }}</p>
    <p><strong>Hashtag: </strong>{{ form.tagtext }}</p>
    <p><strong>사진: </strong>{{ imgform.image }}</p>
    <input type="checkbox" id="reviewimgChangeCheck" name="reviewimgChange" style="display: none;">
    <p><strong>내용:</strong></p>
    <textarea id="summernote" name="content">{% if update %}{{ form.content.value | safe }}{% endif %}</textarea>
    {% if update %}
    <button id="write" type="submit" class="btn btn-primary">수정</button>
    {% else %}
    <button id="write" class="btn btn-primary" type="submit">등록</button>
    {% endif %}
</form>
<script>
$(document).ready(function() {
    $('#summernote').summernote({
        height: 500,
        minHeight: 500,
        maxHeight: 500,
        lang: 'ko-KR',

        toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'clear']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['table', ['table']],
        ['insert', ['link', 'picture', 'video']],
        ['view', ['fullscreen', 'help']]
        ]
    });
    $('.note-resizebar').css('display','none');
});
</script>
<script type="text/javascript">
    var checkUnload = true;
    $(window).on('beforeunload', function () {
        if (checkUnload) return "이 페이지를 벗어나면 작성된 내용은 저장되지 않습니다.";
    });
    $("#write").on("click", function () {
        checkUnload = false;
        $("submit").submit();
    });
</script>
<script type = "text/javascript">
    $("#id_image").change(function() {
        if ($('#id_image').get(0).files.length >= 1) {
            $('#reviewimg-clear_id').attr("checked", false)
        }
    });

    $('#write').click( function() {
        if($('#id_image').get(0).files.length >= 1){
            $('#reviewimgChangeCheck').attr("checked",true)
        }
    });
</script>
{% endblock %}