{% extends 'base.html' %}

{% block contents %}
{% if b %}
<h1>검색 결과</h1>
{% else %}
<h1 align="center">고객 후기</h1>
{% endif %}

{% if b %}
<p></p>
{% else %}
<div style="text-align: right; padding-right: 35px">
    <a href="{% url 'review:review-new' %}"><button class="btn btn-outline-secondary"><i class="fas fa-pencil-alt" style="color: gray"></i> 리뷰쓰기</button></a>
</div>
{% endif %}

<div class="row justify-content-center" style="margin-top: 15; margin-bottom: 0">
    <div class="col-3 col-md-2 board-top">트레이너</div>
    <div class="col-6 col-md-5 board-top">제목</div>
    <div class="col-3 col-md-2 board-top">작성자</div>
    <div class="d-none d-md-block col-md-2 board-top">작성일</div>
</div>

{% if page_obj %}
    {% for review in page_obj %}
    <a href="{{ review.get_absolute_url }}">
        <div class="row justify-content-center">
            <div class="col-3 col-md-2 board-content" style="text-align: center">{% if review.trainer %}{{ review.trainer.name }}{% else %}공통{% endif %}</div>
            <div class="col-6 col-md-5 board-content" style="">{{ review.title }}</div>
            <div class="col-3 col-md-2 board-content" style="text-align: center">{{ review.writer }}</div>
            <div class="d-none d-md-block col-md-2 board-content" style="text-align: center">{{ review.date|date:"n월j일" }}</div>
        </div>
    </a>
    {% endfor %}
{% else %}
    {% if b %}
    <div class="row">
        <div class="col-12" style="text-align: center; margin-top: 50">
            <p>검색 결과가 없습니다.</p>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12" style="text-align: center; margin-top: 50">
            <p>아직 등록된 리뷰가 없습니다. 리뷰를 등록해보세요!</p>
        </div>
    </div>
    {% endif %}
{% endif %}

{% if is_paginated %}
<ul class="pagination justify-content-center" style="margin-top: 15px">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
            tabindex="-1">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">이전</a>
    </li>
    {% endif %}

    {% for page in page_range %}
    <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link"
            href="?page={{ page_obj.next_page_number }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">다음</a>
    </li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}