{% extends 'base.html' %}

{% block contents %}
<div align="center">
    <p>&nbsp;</p>
    <h3><strong>ACT:AGORA</strong>는</h3>
    <p>&nbsp;</p>
    <h3>
        당신 주변에서<br>
        <strong>당신에게 필요한<br>
        능력과 자격을 갖춘</strong><br>
        트레이너를<br>
        소개하는 서비스입니다.
    </h3>
    <p>&nbsp;</p>
    <h3>
        ACT:AGORA에서<br>
        제공하는 정보로<br>
        트레이너의<br>
        <strong>능력과 비용을<br>
        객관적으로<br>
        비교할 수 있습니다.</strong>
    </h3>
    <p>&nbsp;</p>
    <h3>
        이 과정을 통해<br>
        본인에게 가장 적합한<br>
        트레이너를<br>
        선택 & 소개받을 수 있습니다.
    </h3>
    <p>&nbsp;</p>
    <h3>
        어렵고 복잡한 스포츠 자격증과<br>
        자질, 자격이 의심되는 트레이너 등<br>
        기존에 트레이닝을<br>
        받으실 때 겪었던<br>
        어려움을 해결합니다.
    </h3>
    <br><br>
</div>
{% endblock %}