{% extends 'base.html' %}
{% block contents %}
<form method="POST">
    {% csrf_token %}
    <p><strong>name: </strong><input type="text" name="trainer_name" value="{{ trainer.name }}"></p>
    <p><strong>hashtag: </strong><input type="text" name="tagtext" value="{{ trainer.tagtext }}"></p>
    <p><strong>summary:</strong></p>
    <textarea class="textarea_field" name="summary">{{ trainer.summary }}</textarea>
    <input class="btn btn-primary" type="submit" value="수정">
</form>
{% endblock %}